# Canonical operator environment for the satusehatkobar workspace.
# Copy to .env and fill the blank secrets or IDs locally.

PROJECT_SLUG="satusehatkobar"
WORKSPACE_ENVIRONMENT="development"
TEMPLATE_NAME="awcms-sskkobar"

LOCAL_SITE_URL="https://awcms-micro-dev.ahlikoding.com"
LOCAL_STORAGE_PUBLIC_BASE_URL="https://awcms-micro-dev-s3.ahlikoding.com"
PRODUCTION_SITE_URL="https://awcms-micro.ahlikoding.com"
PRODUCTION_STORAGE_PUBLIC_BASE_URL="https://awcms-micro-s3.ahlikoding.com"

CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_API_TOKEN=""
CLOUDFLARE_DEPLOY_TOKEN=""
CLOUDFLARE_ZONE_NAME="ahlikoding.com"

CLOUDFLARE_DEV_WORKER_NAME="awcms-sskkobar-worker"
CLOUDFLARE_DEV_WORKER_MAIN="awcmsmicro-dev/templates/awcms-micro-default-cloudflare/src/worker.ts"
CLOUDFLARE_DEV_COMPATIBILITY_DATE="2026-05-14"
CLOUDFLARE_DEV_COMPATIBILITY_FLAGS="nodejs_compat"
CLOUDFLARE_DEV_PLACEMENT_MODE="smart"
CLOUDFLARE_DEV_ROUTE_PATTERN="awcms-micro-dev.ahlikoding.com/*"
CLOUDFLARE_DEV_CUSTOM_DOMAIN="false"
CLOUDFLARE_DEV_OBSERVABILITY="true"
CLOUDFLARE_DEV_D1_BINDING="DB"
CLOUDFLARE_DEV_D1_DATABASE_NAME="awcms-sskkobar-d1"
CLOUDFLARE_DEV_D1_DATABASE_ID="REPLACE_WITH_DEVELOPMENT_D1_DATABASE_ID"
CLOUDFLARE_DEV_R2_BINDING="MEDIA"
CLOUDFLARE_DEV_R2_BUCKET_NAME="awcms-sskkobar-r2"
CLOUDFLARE_DEV_KV_BINDING="SESSION"
CLOUDFLARE_DEV_KV_NAMESPACE_ID="REPLACE_WITH_DEVELOPMENT_KV_NAMESPACE_ID"
CLOUDFLARE_DEV_IMAGE_BINDING="IMAGES"
CLOUDFLARE_DEV_LOADER_BINDING="LOADER"

CLOUDFLARE_WORKER_NAME="awcms-sskkobar-worker"
CLOUDFLARE_WORKER_MAIN="./src/worker.ts"
CLOUDFLARE_WORKER_COMPATIBILITY_DATE="2026-05-14"
CLOUDFLARE_WORKER_COMPATIBILITY_FLAGS="nodejs_compat"
CLOUDFLARE_WORKER_PLACEMENT_MODE="smart"
CLOUDFLARE_WORKER_ROUTE_PATTERN="awcms-micro.ahlikoding.com/*"
CLOUDFLARE_WORKER_CUSTOM_DOMAIN="false"
CLOUDFLARE_WORKER_OBSERVABILITY="true"
CLOUDFLARE_WORKER_D1_BINDING="DB"
CLOUDFLARE_WORKER_D1_DATABASE_NAME="awcms-sskkobar-d1"
CLOUDFLARE_WORKER_D1_DATABASE_ID="REPLACE_WITH_PRODUCTION_D1_DATABASE_ID"
CLOUDFLARE_WORKER_R2_BINDING="MEDIA"
CLOUDFLARE_WORKER_R2_BUCKET_NAME="awcms-sskkobar-r2"
CLOUDFLARE_WORKER_KV_BINDING="SESSION"
CLOUDFLARE_WORKER_KV_NAMESPACE_ID="REPLACE_WITH_PRODUCTION_KV_NAMESPACE_ID"
CLOUDFLARE_WORKER_IMAGE_BINDING="IMAGES"
CLOUDFLARE_WORKER_LOADER_BINDING="LOADER"
CLOUDFLARE_WORKER_SITE_URL="https://awcms-micro.ahlikoding.com"
CLOUDFLARE_WORKER_STORAGE_PUBLIC_BASE_URL="https://awcms-micro-s3.ahlikoding.com"

R2_BUCKET_NAME="awcms-sskkobar-r2backup"
R2_REGION="auto"
D1_DATABASE_NAME="awcms-sskkobar-d1"
D1_BACKUP_KEEP_COUNT="7"
BACKUP_CRON_SCHEDULE="0 2 * * *"
BACKUP_CONTENT="all"
BACKUP_PASSPHRASE=""
BACKUP_SSH_KEYS="true"
BACKUP_GPG_KEYS="false"
BACKUP_CLOUD_CREDS="true"
NOTIFICATION_METHOD="none"
LOCAL_BACKUP_DIR="/tmp/awcms-backups"
BACKUP_LOG_FILE="$HOME/.awcms-backup.log"
ENCRYPTION_TOOL="age"

GITHUB_REPO_URL="git@github.com:ahliweb/awcms-micro.git"
GITHUB_BRANCH="main"
GITHUB_PAT=""
GITHUB_ACTION_DEPLOY_WORKFLOW="deploy.yml"
GITHUB_ACTION_BACKUP_WORKFLOW="backup-automated.yml"
GITHUB_ACTION_MIRROR_WORKFLOW="mirror-to-gitlab.yml"
GITHUB_ACTION_DEPLOY_BRANCH="main"
GITHUB_ACTION_BACKUP_CRON="0 2 * * *"
GITHUB_ACTION_TEMPLATE_NAME="awcms-sskkobar"
GITHUB_ACTION_WORKER_TEMPLATE_PACKAGE="@awcms-micro/template-default-cloudflare"
GITHUB_ACTION_NODE_VERSION="22"
GITHUB_ACTION_PNPM_VERSION="11.1.3"

GITLAB_USERNAME=""
GITLAB_REPO_NAME="awcms-micro"
GITLAB_VISIBILITY="private"
GITLAB_PAT=""
GITLAB_SSH_KEY_PATH="$HOME/.ssh/gitlab_mirror"
